@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css'); 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:700i|Lato');

/* oh man kein SCSS keine Variablen? 
$space-md: 20px;
*/

body {
  background-color: #000;
  font: 18px 'Lato';
  color: #4A4A4A;
}

.def-link {
  color: #F5A623;
  font-style: italic;
  text-decoration: none;
}

.def-link:active {
  color: #4A4A4A;
}

.def-link:hover {
  text-decoration: underline;
}

.grid-container {
  width: 80%;
  margin: 40px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-row {
  background-color: #FFF;
  grid-column: 1 / span 3;
}

.nav-container {
  padding: 25px;
}

.nav-container a {
  margin-right: 5px;
}

.tile-section {
  height: 540px;
  background: none;
  display: grid; /*subgrid gibts nicht?*/
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  font-style: italic;
}

.tile__big {
  background-image: url('//unsplash.it/800/');
  background-size: cover;
  grid-row: span 2;
  align-self: stretch;
  display: grid;
  align-items: end;
}

.text-overlay {
  background-color: rgba(68,68,68,0.75);
  color: #9B9B9B;
}

.tile-heading {
  margin: 10px;
  color: #FFFFFF;
  font-size: 24px;
}

.tile-text {
  margin: 0 10px;
}

.tile-link {
  margin: 10px;
  float: right;
  font-style: normal;
}

.tile__small {
  grid-row: span 1;
  background-image: url('//unsplash.it/800/');
  background-size: cover;
}

.about-text {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text header {
  margin-bottom: 20px;
}

.article-heading {
  font-size: 36px;
  font-weight: 900;
  color: #000;
}

.article-paragraph {
  margin: 20px 0;
}

.simple-footer {
  width: 60%;
  margin: 20px auto;
  padding: 16px;
  background-color: rgba(216,216,216,0.25);
  text-align: center;
  color: #F5A623;
}

.copyr {
  color: #4A4A4A;
}

@media only screen 
  and (max-device-width: 600px) {
    .tile__big,
    .tile__small {
      grid-row: span 1;
      grid-column: span 3;
      align-self: stretch;
    }
}
